
out/artifacts/VersionControl_jar/startVVC.bat
out/artifacts/VersionControl_jar/newTextFile.txt
out/artifacts/VersionControl_jar/text.rtf
out/artifacts/VersionControl_jar/.vvc/2020-08-25_13-20-29_secondBackup/newTextFile.txt
out/artifacts/VersionControl_jar/.vvc/2020-08-25_13-20-29_secondBackup/VVCConfig.xml
out/artifacts/VersionControl_jar/.vvc/2020-08-25_13-22-31_secondBackup/newDir/newTextFile.txt
out/artifacts/VersionControl_jar/.vvc/2020-08-25_13-22-31_secondBackup/newTextFile.txt
out/artifacts/VersionControl_jar/.vvc/2020-08-25_13-22-31_secondBackup/VVCConfig.xml
out/artifacts/VersionControl_jar/.vvc/VVCConfig.xml
out/artifacts/VersionControl_jar/.vvc/VVCIgnore.xml
out/artifacts/VersionControl_jar/dir2/insidethedir.txt
out/artifacts/VersionControl_jar/dir2/text2.txt
out/artifacts/VersionControl_jar/dir2/wer.txt
out/artifacts/VersionControl_jar/newDir/docteste2.txt
out/artifacts/VersionControl_jar/newDir/newTextFile.txt
out/artifacts/VersionControl_jar/VersionControl.jar
out/production/VersionControl/Main.class
out/production/VersionControl/META-INF/MANIFEST.MF
out/production/VersionControl/org/VVC/FileAttributes.class
out/production/VersionControl/org/VVC/FileFinder.class
out/production/VersionControl/org/VVC/View.class
out/production/VersionControl/org/VVC/XmlController.class
vvc/
